
html{
    font-family: sans-serif, Arial, Helvetica;
    background-color:#0C6291
}

#cabeza{
    background-color: #0C6291 ;
}

#logo {
    display: flex;
    background-color: #0C6291;
    justify-content: center;
    
}

#logo2{
    width: 15%;
    height: 15%;
    margin-bottom: 4%;
    margin-top: 5%;
    
}

#cabecera{
    background-color: #526e7e;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    border-style: double;
    
}

#descripcion{
    display: flex;
    
    width: 80%;
    color: white;
    margin-top: 5%;
    background-image:url('../imagenes/empresa.png'); 
    background-position: center;
    background-size: cover;
    font-size: 20px;
    text-align-last: left;
    align-items: center;
    width: 100%;
    height: 500px;
}

#descripcion p{
    display: flex;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}
#productos{
    display: flex; 
    justify-content: space-evenly;
    
}



#servicios{
    display: flex;
    justify-content: space-evenly;
}
#P1{
    display: flex;
    background-color: white;
    width: 10%;
    height: 10%;
}

#P2{
    display: flex;
    background-color: white;
    width: 30%;
    height: 35%;
}


#S1{
    display: flex;
    background-color: white;
    width: 30%;
    height: 18%;
}

#S2{
    display: flex;
    background-color: white;
    width: 30%;
    height: 18%;
}
#cuerpo{
    background-color: #0C6291;
    padding-bottom: 10%;
}

#pie{
    display: flex;
    background-color: black;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.textoC{
    background-color: burlywood;
}

#boton {
    background-color: white;

}

