#Logo {
    height: 90%;
    width: 90%;
}


html{
    font-family: sans-serif, Arial, Helvetica;
    background-color:#0C6291
}


#cabezaJ{
    background-color: #0C6291 ;
}

#logoJ{
    display: flex;
    background-color: #0C6291;
    justify-content: center;
    
}

#logo2J{
    width: 15%;
    height: 15%;
    margin-bottom: 4%;
    margin-top: 5%;
    background-color: burlywood;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    
}

#cabeceraJ{
    background-color: burlywood;
    color: black;
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    margin-left: 25%;
    border-style:solid;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 50%;
}

@media (max-width: 400px){ 
    #cabeceraJ{
        font-size: 12px;
    }
}

#cabeceraJ ::before{
    color: black;
}


#cabeceraJ ::after{
    color: black;
}

@media (max-width: 970px){
    #cabeceraJ{
        width: 100%;
        border-radius: 0%;
        margin-left: 0%;
    }
}



#fotoJ{
    display: flex;
    position: fixed;
    width: 6%;
    height: 6%;
    background-color: burlywood;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    bottom: 4%;
    right: 4%;
}
@media (max-width: 600px){
    #cabeceraJ{
        font-size: 12px;
    }
    #fotoJ{
        width: 12%;
    }
}

body{
    background-color: #0C6291;
}

#cuerpoArba{
    margin-top: 100px;
}
header .SeccionEncabezado{
    display: flex;
    background-color: rgb(241, 222, 145);
    text-align: center;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}

footer{
    background-color: black;
}

.BotonA{
    background-color: cornsilk;
    border: 0 cornsilk;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.SeccionEncabezado button{
    background-color: cornsilk;
    border: 0 cornsilk;
    border-radius: 5px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.SeccionEncabezado button:hover{
    background-color: darkgreen;
    color: darkcyan;
}

.Seccion{
    width: 90%;
    background-color: cornsilk;
    margin: 20px 20px 20px; 
    border-radius: 20px;
    margin-left: 5%;
}

.Seccion table{
    border: crimson ;
    text-align: center;
    background-color: burlywood;
    border-radius: 10px;
    width: 70%;
}

.Seccion table .PrimeraColumna .ImgProducto{
    width: 50%;
}

.Seccion table .PrimeraColumna .DescripcionProducto{
    font-size: 12px;
}

.Seccion2{
    text-align: right;
    padding-right: 10%;
}

.PrimeraColumna{
    width: 30%;
}

#pieAr{
    display: flex;
    justify-content: center;
}

.Seccion3{
    width: 25%;
    background-color: burlywood;
    margin: 20px 20px 20px; 
    border-radius: 20px;
    display: inline-block;
}




 