#cuerpo-wal{
    display:flex;
    margin-top:20%;
    background-color: #0C6291;
}


.codigo-producto-wal{
    color:dimgray;

}
.precio-wal{
    color:black;
    font-size:33px;
     
}

#fotoDetalle{
    height: 60%;
    width: 75%;
}
.row{
    display: flex;
    z-index: 0;
    flex-direction: row;
    background: cornsilk;
    border-radius: 20px;
}
 
#cuerpoW{
    display: flex;
    background-color: cornsilk;
    border-radius: 20px;
    margin: 0 10% 0 10%;
}

.cuotas-wal{
    font-size: 18px;
    color:green;
    
}
.devolucion-wal{
    color:dodgerblue;

}
.disponibilidad-wal{
    color:orange;

}
.contenedor-titulos-wal{
    border:1px solid #ccc;
    border-radius: 10px;

} 
input{
    border:3px solid black;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.carrito-wal{
    
    background-color: yellow;
    border-radius:10px;
    font-size: 15px;
    margin-left: auto;
    margin-right:auto ;

}
.descripcion-wal{
    text-align:left;
    font-family:  sans-serif, Arial, Helvetica;
    font-weight: 100px;
    color:black;
    background-color: cornsilk;
    margin-top: 50px;
} 


.comprar-wal{
    color:white;
    background-color:dodgerblue;
    border-radius:10px;
    font-size: 20px;
    margin-left: auto;
    margin-right:auto ;

}
.floatWapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-floatWapp{
    margin-top:16px;
  }


form i {
    margin-left: -30px;
    cursor: pointer;
}

