
html{
    font-family: sans-serif, Arial, Helvetica;
    background-color:#0C6291
}

#cabezaJ{
    background-color: #0C6291 ;
}


#logoJ{
    display: flex;
    background-color: #0C6291;
    justify-content: center;
    
}

#logo2J{
    width: 25vw;
    height: 20vh;
    margin-bottom: 4%;
    margin-top: 5%;
    background-color: burlywood;
    border-radius: 8%;
    border-style: solid;
    border-color: black;
    
}




#cabeceraJ{
    background-color: burlywood;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;
    border-style:solid;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 50%;
}

@media (max-width: 400px){ 
    #cabeceraJ{
        font-size: 12px;
    }
}

#cabeceraJ ::before{
    color: black;
}


#cabeceraJ ::after{
    color: black;
}

@media (max-width: 970px){
    #cabeceraJ{
        width: 100%;
        margin-left: 0%;
    }
}


#fotoJ{
    display: flex;
    position: fixed;
    width: 6%;
    height: 6%;
    background-color: burlywood;
    border-style: solid;
    border-color: black;
    border-radius: 28%;
    bottom: 4%;
    right: 4%;
}




#descripcionJ{     
    display: flex;   
    width: 80%;
    color: burlywood;
    margin-top: 5%;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    background-image:url('../imagenes/empresa.png'); 
    background-position: center;
    background-size: cover;
    font-size: 20px;
    text-align-last: left;
    align-items: center;
    width: 100%;
    height: 500px;
    
}

#descripcionJ p {
    display: flex;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width: 600px){
    #fotoJ{
        width: 12%;
    }
    #descripcionJ{
        font-size: 15px;
    }
    #cabeceraJ{
        font-size: 12px;
    }
}
#productosJ{
    display: flex; 
    justify-content: space-evenly;
    
}


#serviciosJ{
    display: flex;
    justify-content: space-evenly;
    
}


.llenar{
    transition: 200ms;
    width: 100%;
    background-color: white;
}
.llenar:hover{
    background-color: burlywood;
    transition: 200ms;
}


#formulario-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 27% 5% 27%;
    background-color: lightgrey;
    border-radius: 7%;
    padding: 6% 8% 5% 8%;
}
.ingresar:hover{
    background-color:  #0022AA;
}
#formulario{
    display: flex;
    margin: 5% 10% 5% 10%;
    background-color: lightgrey;
    border-radius: 7%;
    padding: 6% 8% 5% 8%;
    width: 50%;
    justify-content: center;
    margin-left: 17%;  
}

@media (max-width:600px){
    #regis{
        width: 70%;
    }
}

#limpieza {    
   display: flex;
   
   justify-content: space-between;
}




#P1J{
    display: flex;
    background-color: white;
    width: 30%;
    height: 18%;
    border-radius: 8%;
    border-style: solid;
    border-color: black;
}

#P2J{
    display: flex;
    background-color: white;
    width: 30%;
    height: 18%;
    padding-bottom: 3.5%;
    border-radius: 8%;
    border-style: solid;
    border-color: black;
}

.fotos{
    width: 100%;
    height: 90%;
}

#S1J{
    display: flex;
    background-color: white;
    width: 30%;
    height: 18%;
    border-radius: 8%;
    border-style: solid;
    border-color: black;
}

#S2J{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 30%;
    height: 18%;
    border-radius: 8%;
    border-style: solid;
    border-color: black;
}
#cuerpoJ{
    background-color: #0C6291;
    padding-bottom: 10%;
}

#pieJ{
    display: flex;
    background-color: black;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.textoCJ{
    border-radius: 8%;
    background-color: burlywood;
    padding-right: 1%;
}

@media (max-width: 600px){
    .textoCJ{
        width: 20%;
        font-size: 15px;
    }
}

@media (max-width: 400px){
    .textoCJ{
        width: 20%;
        font-size: 10px;
    }
}

.icon{
    width: 1em;
}