
html{
    font-family: sans-serif, Arial, Helvetica;
    background-color:#0C6291
}

#cabezaJ{
    
    position:fixed;
    width: 100%;
    justify-content: flex-start;
    background-color: transparent;
    top: 0%;
    
}


#logoJ{
    display: flex;
    background-color: #0C6291;
    justify-content: center;
    
}

#logo2J{
    width: 15%;
    height: 87%;
    margin-bottom: 4%;
    margin-top: 5%;
    background-color: burlywood;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    
}

#logo3J{
    width: 100%;
    height: 100%;
}




#cabeceraJ{
    background-color: burlywood;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20%;
    border-style:solid;
    padding-right: 10px;
    width: 60%;
    height: 65px;
    border-radius: 20px;
}

@media (max-width: 400px){ 
    #cabeceraJ{
        font-size: 12px;
    }
}

#cabeceraJ ::before{
    color: black;
}


#cabeceraJ ::after{
    color: black;
}

@media (max-width: 970px){
    #cabeceraJ{
        width: 97%;
        margin-left: 0%;
        height: 50px;
    }
}




#descripcionJ{     
    display: flex;   
    width: 80%;
    color: burlywood;
    margin-top: 5%;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    background-image:url('../imagenes/empresa.png'); 
    background-position: center;
    background-size: cover;
    font-size: 20px;
    text-align-last: left;
    align-items: center;
    width: 100%;
    height: 500px;
    
}

#descripcionJ p {
    display: flex;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.textosPS{
    display: flex;
    justify-content: center;
    top: 7px;
    
}

@media (max-width: 600px){
    .textosPS{
        display: none;
    }
    #fotoJ{
        width: 12%;
    }
    #descripcionJ{
        font-size: 15px;
    }
    #cabeceraJ{
        font-size: 12px;
    }
}
#productosJ{
    display: flex; 
    justify-content: space-evenly;
    
}


#serviciosJ{
    display: flex;
    justify-content: space-evenly;
    
}


.llenar{
    transition: 200ms;
    width: 100%;
    background-color: white;
}
.llenar:hover{
    background-color: burlywood;
    transition: 200ms;
}


#formulario-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72%;
    margin: 5% 27% 5% 27%;
    background-color: cornsilk;
    border-radius: 20px;
    padding: 6% 8% 5% 8%;
}
.ingresar:hover{
    background-color:  #0022AA;
}

#formCuerpo{
    background-color: #0C6291;
    padding-top: 10px;
    padding-bottom: 10px;
}

#formulario{
    display: flex;
    flex-direction: column;
    margin: 5% 10% 5% 10%;
    background-color: cornsilk;
    border-radius: 20px;
    padding: 6% 8% 5% 8%;
    width: 50%;
    justify-content: center;
    margin-left: 17%;  
}

@media (max-width:600px){
    #regis{
        width: 70%;
    }
}

#limpieza {    
   display: flex;  
   justify-content: space-between;
}

#login{
    height: 400px;
    background-color: #0C6291;
    padding-top: 10px;
}


#P1J{
    display: flex;
    background-color: cornsilk;
    width: 30%;
    height: 18%;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

#P2J{
    display: flex;
    background-color: cornsilk;
    width: 30%;
    height: 18%;
    padding-bottom: 3.5%;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

.fotos{
    width: 100%;
    height: 90%;
}

#S1J{
    display: flex;
    background-color: cornsilk;
    width: 30%;
    height: 18%;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

#S2J{
    display: flex;
    justify-content: center;
    background-color: cornsilk;
    width: 30%;
    height: 18%;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}
#cuerpoJ{
    background-color: #0C6291;
    padding-bottom: 10%;
    margin-top: 10%;
}

#pieJ{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    background-color: black;   
    width: 100%;
    
}

.social2{
    width: 21%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia{
    width: 50%;
    justify-items: center;
    color: burlywood;
}

.textoCJ{
    width: 25%;
    background-color: burlywood;
    margin: 20px 20px 20px; 
    border-radius: 20px;
    display: inline-block;
}

@media (max-width: 600px){
    .textoCJ{
        width: 20%;
        font-size: 15px;
    }
    .socialMedia{
        width: 10%;
    }
}

@media (max-width: 400px){
    .textoCJ{
        width: 70%;
        font-size: 17px;
    }
    #social{
        height: 10%;
    }
    #pieJ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    #social2{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        height: 0px;
        }
}


.icon{
    width: 1em;
}



.btn-wsp-wal{
    position:fixed;
    width: 55px;
    height: 55px;
    bottom:5%;
    right:5%;
    line-height: 55px;
    background: #0df053;
    color:#fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 0px 0px rgba(0,0,0,3);
    z-index: 100;
    -moz-border-radius:50px;
   -webkit-border-radius:50px;  

}