<!DOCTYPE html>

<html>
  
<%- include ('./partials/head') %>    
 
  <body >
    
<%- include ('./partials/header') %>
    <main id="login">
      <form id="formulario-2">
        <div>
          <label for="usuario"> Nombre de Usuario: </label>
          <input type="text" name="usuario" id="usuario" class="llenar">
        </div>
        <br>
        <div>
          <label for="contrase単a"> Ingrese Contrase単a: </label>
          <input type="password" name="contrase単a" id="contrase単a" class="llenar">
        </div>
        <br>
        <div>
          <button type="button" class="btn btn-secondary"> <a href="./home.html">Home</a>  </button>
          <button type="button" class="btn btn-success"> Ingresar </button>
        </div>
        
      </form>  
    </main>
    
<%- include ('./partials/footer') %>
    
  </body>
</html>