<!DOCTYPE html>
<html lang="en">
     
<%- include ('./partials/head') %>    

<body>
   
<%- include ('./partials/header') %>

    <main id="cuerpoArba">
        <section class="Seccion">
              <table align="center">
              <tr>
                    <td class="PrimeraColumna">
                        <img src="../public/imagenes/web4-e1578666864760.png" class="ImgProducto">
                        <label class="nombreCarrito"> </label>
                        <p class="DescripcionProducto">
                            acá va la descripción del primer producto
                        </p>
                    </td>
                    <td>
                        <button class="BotonA">Cambiar el producto</button>
                    </td>
                    <td>
                        <label class="precioCarrito"></label>
                    </td>
                </tr>
            </table>
            
            
        </section>
        <!--
        <section class="Seccion">
            <table align="center">
                <tr>
                    <td class="PrimeraColumna">
                        <img src="../public/imagenes/producto2.png" class="ImgProducto">
                        <label>Producto 2</label>
                        <p class="DescripcionProducto">
                            acá va la descripción del segundo producto
                        </p>
                    </td>
                    <td>
                        <button class="BotonA">Cambiar el producto</button>
                    </td>
                    <td>
                        <label>$ 600.000</label>
                    </td>
                </tr>
            </table>
        </section>
    
        <section class="Seccion">
            <table align="center">
                <tr>
                    <td class="PrimeraColumna">
                        <img src="../public/imagenes/producto1.png" class="ImgProducto">
                        <label>Producto 3</label>
                        <p class="DescripcionProducto">
                            acá va la descripción del tercer producto
                        </p>
                    </td>
                    <td>
                        <label>Envío</label>
                        <label>$ 50.000</label>
                    </td>
                </tr>
            </table>
        </section> 
    -->
        <section class="Seccion2">
            <button type="submit" class="btn btn-dark">Comprar</button>
            <button type="submit" id="limpiar" class="btn btn-dark">Eliminar productos</button>
        </section>    
    </main>
     <script src="/public/js/carritoCompra.js"></script>
    <%- include ('./partials/footer') %>
    


</body>
</html>