<!DOCTYPE html>

<html>
  <!--     
<%- include ('./partials/head') %>    -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style/styleJulian.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> 
  </head>

  <body >
    <!-- 
<%- include ('./partials/header') %>-->

    <header id="cabezaJ">
      <div id="logoJ">
      <img src="../public/imagenes/D3.png" id="logo2J"> 
      </div>
      <div id="cabeceraJ">
        <br>
        <a href="./index.html">Productos <i class="bi bi-badge-3d" class="icon"></i> </a> <a href="./index.html" > Servicios <i class="bi bi-list" class="icon"></i></a> <a href="./Carrito.html"> Carrito de Compras  <i class="bi bi-bag" class="icon"></i></a> 
        <a href= "./login.html" > Login <i class="bi bi-person-circle" class="icon"></i> </a> <a href="./register.html"> Registro  <i class="bi bi-person-plus-fill" class="icon"></i></a>
      </div>
      <div>
        <a href="./home.html" id="casaJ"><img src="../public/imagenes/D3.png" id="fotoJ"> </a>
        <a href="https://api.whatsapp.com/send?phone=9876654321"
				class="btn-wsp-wal" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div> 
    </header>

    <main id="cuerpoJ">
        <div id="descripcionJ">
        <p id="randomJ"><b> 
          D3 es una empresa que ofrece productos 3D y servicios de impresores 3D para que nuestros clientes puedan disponer de las mismas ante cualquier necesidad.
          Con envíos a todo el país, en D3 te garantizamos las impresiones más finas y de mejor calidad del país.  Nos elijen no solo por la calidad y duración de 
          nuestros productos, sino tambíen por la buena relación costo-precio que brindamos.
        <br>
        <br>
          No te preocupes más si se te hace díficil conseguir o imprimir un producto. Mientras que tengas un archivo o modelo del producto a imprimir,
          nosotros en tiempo y forma te lo llevaremos a la puerta de tu casa. Y si no te gusta, pedi un reemboloso sin cargo!
        </b> 
        </p> 
        </div>
        <br>
        <div id="productosJ">
          <div id="P1J" class="SPJ">
            <a class="botonJ" href="./index.html" ><img src="../public/imagenes/producto1.png" class="fotos"> <p class="textosPS">Ver más - Producto 1</p></a> 
          </div>
          <div id="P2J" class="SPJ">
            <a class="botonJ" href="./index.html" > <img src="../public/imagenes/producto2.png" class="fotos"> <p class="textosPS">Ver más - Producto 2</p></a>
          </div>   
        </div>
        <br>
        <div id="serviciosJ">
          <div id="S1J" class="SPJ">
            <a class="botonJ" href="./index.html"> <img src="../public/imagenes/impresora1.png" class="fotos"> <p class="textosPS">  Ver más - Servicio 1 </p></a> 
          </div>
          <div id="S2J" class="SPJ">
            <a class="botonJ" href="./index.html"> <img src="../public/imagenes/impresora2.png" class="fotos"> <p class="textosPS"> Ver más - Servicio 2 </p></a> 
          </div>
        </div>
    </main>
    <!-- 
<%- include ('./partials/footer') %>-->
    <footer id="pieJ">                     
      <p> 
        <ul class="textoCJ">  
          <li><a href="https://www.facebook.com/">Facebook  <i class="bi bi-facebook" class="icon"></i></a> </li>
          <li><a href="https://www.twitter.com/">Twitter  <i class="bi bi-twitter" class="icon"></i></a></li>   
          <li><a href="https://www.instagram.com/">Instagram  <i class="bi bi-instagram" class="icon"></i></a></li>
        </ul></p>
      <p> 
        <ul class="textoCJ">
         <li>Telefono <i class="bi bi-telephone-outbound" class="icon"></i></li>
         <li>Mail  <i class="bi bi-envelope" class="icon"></i></li> 
         <li>Direccion  <i class="bi bi-card-text" class="icon"></i></li>
        </ul>
      </p>
      <p> 
        <ul class="textoCJ"> 
          <li>Preguntas (FAQ)<i class="bi bi-question-circle" class="icon"></i></li>
          <li>Politicas <i class="bi bi-currency-dollar" class="icon"></i></li>
        </ul>
      </p>        
    </footer>
  </body>
</html>


