<footer id="pieJ">
  <link rel="stylesheet" href="/public/style/styleJulian.css"/>                     
    <p id="social">
      <h1 id="social2">     
        <a href="https://www.facebook.com/" class= "socialMedia">  <i class="bi bi-facebook" class="icon"></i></a> 
        <a href="https://www.twitter.com/" class= "socialMedia">  <i class="bi bi-twitter" class="icon"></i></a> 
        <a href="https://www.instagram.com/" class= "socialMedia"> <i class="bi bi-instagram" class="icon"></i></a>
      </h1>    
    </p>
    
      <ul class="textoCJ">
       <li>Telefono <i class="bi bi-telephone-outbound" class="icon"></i></li>
       <li>Mail  <i class="bi bi-envelope" class="icon"></i></li> 
       <li>Direccion  <i class="bi bi-card-text" class="icon"></i></li>
      </ul>
    
     
      <ul class="textoCJ"> 
        <li>Preguntas (FAQ)<i class="bi bi-question-circle" class="icon"></i></li>
        <li>Politicas <i class="bi bi-currency-dollar" class="icon"></i></li>
      </ul>
            
  </footer>