<footer id="pieJ">                     
    <p> 
      <ul class="textoCJ">  
        <li><a href="https://www.facebook.com/">Facebook  <i class="bi bi-facebook" class="icon"></i></a> </li>
        <li><a href="https://www.twitter.com/">Twitter  <i class="bi bi-twitter" class="icon"></i></a></li>   
        <li><a href="https://www.instagram.com/">Instagram  <i class="bi bi-instagram" class="icon"></i></a></li>
      </ul></p>
    <p> 
      <ul class="textoCJ">
       <li>Telefono <i class="bi bi-telephone-outbound" class="icon"></i></li>
       <li>Mail  <i class="bi bi-envelope" class="icon"></i></li> 
       <li>Direccion  <i class="bi bi-card-text" class="icon"></i></li>
      </ul>
    </p>
    <p> 
      <ul class="textoCJ"> 
        <li>Preguntas (FAQ)<i class="bi bi-question-circle" class="icon"></i></li>
        <li>Politicas <i class="bi bi-currency-dollar" class="icon"></i></li>
      </ul>
    </p>        
  </footer>