<header id="cabezaJ">
  <div id="top-header" class=""><div class="container clearfix"><div id="et-info"> <span id="et-info-phone" class="bi bi-telephone">  011 6501-4592</span> <a href="mailto:info@D3.com.ar">   <span id="et-info-email">info@D3.com.ar</span></a><ul class="et-social-icons"></ul></div><div id="et-secondary-menu"><div class="et_duplicate_social_icons"><ul class="et-social-icons"></ul></div></div></div></div>

  <link rel="stylesheet" href="/public/style/styleJulian.css"/>
                                                                                       
    <nav id="cabeceraJ">
      <br>
      
      <!-- cabecera a mejorar para CELULAR 
      <a href="/"> <i class="bi bi-house-door-fill"></i></a> 
      <a href="/products/listado" class="textoHead"> <i class="bi bi-badge-3d" class="icon" class="textoHead"></i> </a> 
      
      <a href="/products/crear" class="textoHead">   <i class="bi bi-list" class="icon" class="textoHead"></i></a>
      
      <a href="/carrito" class="textoHead">  <i class="bi bi-bag" class="icon" class="textoHead"></i></a> 
      
      <a href="/users/profile" class="textoHead" class="cuenta"> <i class="bi bi-person-circle" class="icon" class="textoHead"></i> </a>
      <a href="/users/logout" class="textoHead" class="cuenta"> Logout </a>
      

      -->
      
     
      <a href="/" id="logo2J" ><img src="/public/imagenes/D3.png" id="logo3J" ></a> 
      <a href="/products/listado" class="textoHead">Productos <i class="bi bi-badge-3d" class="icon"></i> </a> 
      <% if (locals.isLogged) { %>
        <a href="/products/crear" class="textoHead"> Crear Producto  <i class="bi bi-list" class="icon"></i></a>
      <% } %>
      <a href="/carrito" class="textoHead"> Carrito <i class="bi bi-bag" class="icon"></i></a> 
      <% if (locals.isLogged) { %>
      <a href="/users/profile" class="textoHead" class="cuenta"> Mi Perfil </a>
      <a href="/users/logout" class="textoHead" class="cuenta"> Logout </a>
      <% } else { %>  
      <a href="/users/login" class="textoHead" class="cuenta"> Login <i class="bi bi-person-circle" class="icon"></i> </a> 
      <a href="/users/register" class="textoHead" class="cuenta"> Registro  <i class="bi bi-person-plus-fill" class="icon"></i></a>
      <% } %>
    
      
      
      <ul class="nav nav-tabs" id="dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Opciones</a>
          <ul class="dropdown-menu">
            <li><a href="/products/listado" class="textoHead">Productos <i class="bi bi-badge-3d" class="icon"></i> </a></li> 
            <% if (locals.isLogged) { %>
            <li><a href="/products/crear" class="textoHead"> Crear Producto  <i class="bi bi-list" class="icon"></i></a></li>
            <% } %>
            <li><a href="/carrito" class="textoHead"> Carrito <i class="bi bi-bag" class="icon"></i></a> </li>
            <% if (locals.isLogged) { %>
            <li><a href="/users/profile" class="textoHead"> Mi Perfil </a></li>
            <li><a href="/users/logout" class="textoHead"> Logout </a></li>
            <% } else { %>  
            <li><a href="/users/login" class="textoHead" > Login <i class="bi bi-person-circle" class="icon"></i> </a> </li>
            <li><a href="/users/register" class="textoHead"> Registro  <i class="bi bi-person-plus-fill" class="icon"></i></a></li>
            <% } %>
          </ul>
      </ul>

    
  </header>