<header id="cabezaJ">
  <link rel="stylesheet" href="/public/style/styleJulian.css"/>  
    <nav id="cabeceraJ">
      <br>
      <a href="../home.ejs" id="logo2J" ><img src="../public/imagenes/D3.png" id="logo3J" ></a> 
      <a href="./index">Productos <i class="bi bi-badge-3d" class="icon"></i> </a> 
      <a href="./index" > Servicios <i class="bi bi-list" class="icon"></i></a> 
      <a href="./carrito"> Carrito de Compras  <i class="bi bi-bag" class="icon"></i></a> 
      <a href= "./login" > Login <i class="bi bi-person-circle" class="icon"></i> </a> 
      <a href="./register"> Registro  <i class="bi bi-person-plus-fill" class="icon"></i></a>
    </nav>
    <div> 
      <a href="https://api.whatsapp.com/send?phone=9876654321" class="btn-wsp-wal" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div> 
  </header>