<!DOCTYPE html>

<html>
  
<%- include ('../partials/head') %>    
 
  <body >
    
<%- include ('../partials/header') %>
    <main id="login">

      <form id="formulario-2" method= "post" action="/users/login">
        <h2 id="tituloCreacion"> Login: </h2>
        <div>
          <label for="usuario"> E-mail: </label>
          <input type="text" name="usuario" id="usuario" size= "30" class="llenar">
        </div>
        <br>
        <div>
          <label for="contrase単a"> Ingrese Contrase単a: </label>
          <input type="password" name="contrase単a" id="contrase単a" size= "10"class="llenar">
        </div>
        <br>
        <div>
          <button type="button" class="btn btn-secondary"> <a href="./home.html">Home</a>  </button>
          <button type="button" class="btn btn-success"> Ingresar </button>
        </div>
        
          
          
               
      </form>  
    </main>
    
<%- include ('../partials/footer') %>
    
  </body>
</html>